// sass/components/_buttons.scss

// Botón Principal
.btn-primary {
    background-color: $color-primary;
    color: $color-text;
    font-weight: 800;
    padding: 12px 24px;
    border-radius: $radius-btn;
    width: 100%; // En móvil ocupa todo
    transition: transform 0.2s, background 0.2s;
    font-size: 1.1rem;
    display: inline-block;
    text-align: center;

    &:hover {
        background-color: $color-primary-dark;
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0);
    }
}

// Botón WhatsApp
.btn-whatsapp {
    @extend .btn-primary;
    background-color: $color-success;
    color: $color-white;
    
    &:hover {
        background-color: darken($color-success, 5%);
    }
}

// Botones Circulares (+ y -)
.btn-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $color-white;
    border: 1px solid $color-border;
    color: $color-text;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

    &:hover {
        background-color: $color-primary;
        border-color: $color-primary;
    }
}

.btn-small {
    background: none;
    text-decoration: underline;
    color: $color-text-light;
    font-size: 0.8rem;
    margin-top: 5px;
}
