* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-bg;
    color: $color-text;
    font-family: $font-main;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    // Agregamos espacio extra al final para que el carrito no tape nada
    padding-bottom: 80px;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

// Utilidad para ocultar elementos (usada por JS)
.hidden {
    display: none !important;
}