* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-bg; 
    color: $color-text;
    font-family: $font-main;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 120px;

    // 👇 AQUÍ AGREGAMOS EL PASTO
    background-image: url('../img/pasto.jpg');
    background-repeat: repeat; // Para que cubra todo si la imagen es chica
    background-size: 500px; // Ajusta este tamaño según qué tan grande se vea el pasto
    background-attachment: fixed; // Efecto Parallax: el fondo se queda quieto
}

img {
    max-width: 100%;
    display: block;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

// Utilidad para ocultar elementos (usada por JS)
.hidden {
    display: none !important;
}